In [3]:
import sqlite3
connection = sqlite3.connect('sample.db')
cursor = connection.cursor()

In [4]:
query = '''
SELECT * 
FROM people
LIMIT 10
'''

for result in cursor.execute(query):
    print(result)

(1, 'Joel', 'Barrera')
(2, 'Raymond', 'Dennis')
(3, 'Louis', 'Hughes')
(4, 'Daniel', 'Chase')
(5, 'Desiree', 'Larson')
(6, 'William', 'Moore')
(7, 'Mary', 'Gonzales')
(8, 'Joy', 'Adams')
(9, 'Brandon', 'Fernandez')
(10, 'Laura', 'Bass')

Instead of doing everything with SQL statements we can do some processing on Python side instead
Simple example alternative of above
*(but python is slower)

In [8]:
query = '''
SELECT * 
FROM people
'''

count = 0

for result in cursor.execute(query):
    if count >= 10:
        break
    print(result)
    count += 1

(1, 'Joel', 'Barrera')
(2, 'Raymond', 'Dennis')
(3, 'Louis', 'Hughes')
(4, 'Daniel', 'Chase')
(5, 'Desiree', 'Larson')
(6, 'William', 'Moore')
(7, 'Mary', 'Gonzales')
(8, 'Joy', 'Adams')
(9, 'Brandon', 'Fernandez')
(10, 'Laura', 'Bass')

In [10]:
## Print specified column only
query = '''
SELECT name, surname
FROM people
LIMIT 10
'''

for result in cursor.execute(query):
    print(result)

('Joel', 'Barrera')
('Raymond', 'Dennis')
('Louis', 'Hughes')
('Daniel', 'Chase')
('Desiree', 'Larson')
('William', 'Moore')
('Mary', 'Gonzales')
('Joy', 'Adams')
('Brandon', 'Fernandez')
('Laura', 'Bass')

In [14]:
query = '''
SELECT name, surname
FROM people
WHERE name = 'Tracy'
ORDER BY surname
'''

for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")

First name: Tracy, Last name: Contreras
First name: Tracy, Last name: Hensley
First name: Tracy, Last name: Nguyen

In [31]:
query = '''
SELECT name, surname
FROM people
WHERE name like '%a__' 
''' ## any characters before 'a', and then followed by any 2 random chars __

for result in cursor.execute(query):
    print(f"First name: {result[0]}, Last name: {result[1]}")

First name: Mary, Last name: Gonzales
First name: Tara, Last name: Ryan
First name: Mark, Last name: Mckinney
First name: Tracy, Last name: Contreras
First name: Bethany, Last name: Clay
First name: Mary, Last name: Potter
First name: Mark, Last name: Burton
First name: Mary, Last name: Christensen
First name: Mark, Last name: Holland
First name: Diana, Last name: Weaver
First name: Tracy, Last name: Nguyen
First name: Mary, Last name: Parker
First name: Richard, Last name: Moore
First name: Tracy, Last name: Hensley
First name: Shaun, Last name: Baker
First name: Michael, Last name: Williams
First name: Amy, Last name: Weaver